// Color Palette
$primary: #565c5e;
$secondary: #b5c2c7;
$tertiary: #7e8d85;
$quaternary: #9d7463;

$background: #ebe7e4;
$black: #212121;
$white: #ffffff;

// Fonts
$font-heading: 'Merriweather', Chivo, Georgia, serif;
$font-sans: 'Noto Sans', Arial, sans-serif;
$font-mono: 'Quicksand', 'Courier New', monospace;
